:root {
  /* from https://daisyui.com winter theme,  */
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97.466% 0.011 259.822);
  --color-base-300: oklch(93.268% 0.016 262.751);
  --color-base-content: oklch(41.886% 0.053 255.824);
  --color-primary: oklch(56.86% 0.255 257.57);
  --color-primary-content: oklch(91.372% 0.051 257.57);
  --color-secondary: oklch(42.551% 0.161 282.339);
  --color-secondary-content: oklch(88.51% 0.032 282.339);
  --color-accent: oklch(59.939% 0.191 335.171);
  --color-accent-content: oklch(11.988% 0.038 335.171);
  /* --color-neutral: oklch(19.616% 0.063 257.651); */
  /* --color-neutral-content: oklch(83.923% 0.012 257.651); */
  --color-neutral: oklch(97.466% 0.011 259.822); /* --color-base-200 */
  --color-neutral-content: oklch(41.886% 0.053 255.824); /* --color-base-content */
  --color-info: oklch(88.127% 0.085 214.515);
  --color-info-content: oklch(17.625% 0.017 214.515);
  --color-success: oklch(80.494% 0.077 197.823);
  --color-success-content: oklch(16.098% 0.015 197.823);
  --color-warning: oklch(89.172% 0.045 71.47);
  --color-warning-content: oklch(17.834% 0.009 71.47);
  --color-error: oklch(73.092% 0.11 20.076);
  --color-error-content: oklch(14.618% 0.022 20.076);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* from https://daisyui.com dim theme */
    --color-base-100: oklch(30.857% 0.023 264.149);
    --color-base-200: oklch(28.036% 0.019 264.182);
    --color-base-300: oklch(26.346% 0.018 262.177);
    --color-base-content: oklch(82.901% 0.031 222.959);
    --color-primary: oklch(86.133% 0.141 139.549);
    --color-primary-content: oklch(17.226% 0.028 139.549);
    --color-secondary: oklch(73.375% 0.165 35.353);
    --color-secondary-content: oklch(14.675% 0.033 35.353);
    --color-accent: oklch(74.229% 0.133 311.379);
    --color-accent-content: oklch(14.845% 0.026 311.379);
    --color-neutral: oklch(24.731% 0.02 264.094);
    --color-neutral-content: oklch(82.901% 0.031 222.959);
    --color-info: oklch(86.078% 0.142 206.182);
    --color-info-content: oklch(17.215% 0.028 206.182);
    --color-success: oklch(86.171% 0.142 166.534);
    --color-success-content: oklch(17.234% 0.028 166.534);
    --color-warning: oklch(86.163% 0.142 94.818);
    --color-warning-content: oklch(17.232% 0.028 94.818);
    --color-error: oklch(82.418% 0.099 33.756);
    --color-error-content: oklch(16.483% 0.019 33.756);
  }
}

body {
  max-width: 900px;
  min-width: 800px;
  margin: 0 auto;
  padding: 1em 0;
  background-color: var(--color-base-200);
  color: var(--color-base-content);
  font-family: 'Outfit', 'Noto Sans JP', 'Noto Sans', 'Vazirmatn', sans-serif;
}

section {
  background-color: var(--color-base-100);
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 1em;
}

h1, h2, h3 {
  text-align: center;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.form-grid div {
  border: var(--border) solid #0000;
  box-shadow: 0 1px color-mix(in oklab,var(--input-color)calc(var(--depth)*10%),#0000) inset,0 -1px oklch(100% 0 0/calc(var(--depth)*.1)) inset;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
}

form input {
  appearance: none;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-color: var(--color-base-100);
  color: var(--color-base-content);
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  opacity: 1;

  border-width: var(--border);
  border-style: solid;
  border-color: var(--color-base-content);
  border-radius: var(--radius-field);
}

button[type="submit"] {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;

  color: var(--color-primary-content);
  background-color: var(--color-primary);
  border-width: var(--border);
  border-style: solid;
  border-color: var(--btn-border);
  border-radius: var(--radius-field);
}

button[type="submit"]:hover {
  background-color: color-mix(in oklab,var(--color-primary,var(--color-base-200)),#000 7%);
}

canvas {
  display: block;
  margin: auto;
}

#resultsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

#resultsGrid .label {
  text-align: end;
}

#supportsTable {
  text-align: left;
  border-collapse: collapse;
  margin: auto;
}

#supportsTable th, #supportsTable td {
  padding: 5px 10px;
  border: var(--border) solid color-mix(in oklab, var(--color-base-content) 10%, transparent);
}

#supportsTable th {
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
  background-color: var(--color-neutral-content);
  color: var(--color-neutral);
}

#supportsTable tr {
  color: var(--color-base-content);
  background-color: var(--color-base-300);
}

#supportsTable tr:nth-child(even) {
  background-color: var(--color-neutral);
  color: var(--color-neutral-color);
}

#supportsTable tr td:first-child {
  text-align: right;
}

#supportsTable tr td:last-child {
  text-align: left;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  display: inline-block;
  visibility: hidden;
  background-color: var(--color-neutral-content);
  color: var(--color-neutral);
  text-align: inherit;
  border-radius: var(--radius-box);
  margin: 0 5px 0 -5px;
  padding: 0 5px;

  /* Position the tooltip */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

#supportsTable td.tooltip .tooltiptext {
  min-width: 100%;
  padding: inherit;
  box-sizing: border-box;
  left: 5px;
  border-radius: 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
